<div class="navbar bg-base-100 shadow-sm">
    <div class="flex-1">
        <a class="btn btn-ghost text-2xl font-cyberblast" href="/"
            >ASA Studios</a
        >
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li><a href="/videos">Videos</a></li>
            <li>
                <a href="/about">About</a>
            </li>
        </ul>
    </div>
</div>
